<div class="index">
  <form class="form" id="search-form">
    <div class="input-group">
      <input type="text" class="search form-control" placeholder="Search for..." value="<%= search %>" />
      <span class="input-group-btn">
        <button type="submit" class="search btn btn-default" type="button">Search !</button>
      </span>
    </div>
  </form>
</div>

